.grid-cont {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-i {
  color: white;
  font-weight: 1000;
  background-color: rgb(94, 94, 94);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  padding: 100px;
  margin: 50px;
  font-size: 60px;
  text-align: center;
}
