.grid-container {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  /* //background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  background-color: rgba(30, 240, 48, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
}

.white {
  background-color: rgba(255, 255, 255, 0.8);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
