.grid-cont {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-i {
  color: white;
  font-weight: 1000;
  background-color: rgb(94, 94, 94);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  padding: 100px;
  margin: 50px;
  font-size: 60px;
  text-align: center;
}
.img {
  width: 300px;
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196f3; */
  padding: 10px;
}
.grid-item {
  background-color: rgba(30, 240, 48, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
}

.white {
  background-color: rgba(255, 255, 255, 0.8);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.red {
  background-color: red;
}

.cente {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .innerdiv {
    border: 2px solid black;
    padding: 50px;
    border-radius: 15px;
    height: 400px;
    h3 {
      margin-top: 0;
    }
    .innerchild,
    .grandchild {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

header {
  margin-top: 0px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin-left: 40px;
  }
  button {
    border-radius: 20px;
    color: aliceblue;
    background-color: rgb(71, 23, 243);
    height: 40px;
    margin-right: 40px;
    width: 70px;
  }
}
